:root {
  --text-color: #172b4d;
  --background-color: #2d3843;
  --light-color: #bcd3c2;
  --accent-text-color: #e0e7b8;
  /* --highlight-color: #d29484; */
  --highlight-color: #dda697;
}

body {
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
  background-color: var(--light-color);
}

a {
  cursor: pointer;
}

p {
  margin: 10px 0;
  overflow-wrap: break-word;
  text-align: left;
}

h2 {
  margin: 0;
}

button,
input {
  padding: 4px;
  border: 1px solid var(--highlight-color);
}

button {
  cursor: pointer;
}

button.active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  background-color: white;
}

.card:hover {
  cursor: pointer;
}
.card-title {
  font-weight: 600;
  font-size: 16px;
}
.card-asignee {
  text-align: left;
}

.drop-wrapper {
  flex: 1 25%;
  width: 100%;
  height: 100%;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 5px;
  width: 20%;
  min-width: 150px;
}

.list-header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
  color: white;
}

.list {
  min-height: 300px;
}

.modal {
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 48px 0 80px;
  min-height: 450px;
  width: 800px;
  outline: none;
  padding: 20px;
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.close-btn {
  font-size: 26px;
  color: #ff0000;
  font-weight: bold;
  float: right;
  border: none;
  border-radius: 10px;
}

.close-btn:hover {
  background-color: #dcdcdc;
}

.issue-details {
  display: flex;
}
.issue-description {
  flex: 70%;
  border: 2px solid #172b4d;
  margin-right: 30px;
}
.issue-tools {
  flex: 30%;
  border: 2px solid #172b4d;
}

.section-header {
  background-color: var(--background-color);
  color: white;
  padding: 10px;
}
.section {
  padding: 10px;
}
.label {
  margin-right: 20px;
  padding: 10px;
  background-color: var(--background-color);
  color: white;
}

.status {
  background-color: var(--highlight-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-color);
}

li {
  float: left;
  font-size: 20px;
}

li a {
  display: block;
  color: var(--accent-text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.form {
  width: 50%;
  margin: 30px auto;
}
.input {
  width: 100%;
  padding: 20px;
}
.submit {
  width: 50%;
  padding: 20px;
}
.submit:hover {
  background-color: var(--highlight-color);
}

.checkbox-wrapper {
  background: white;
  font-size: 14px;
  color: #757575;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid var(--highlight-color);
}

.comment {
  min-height: 50px;
  width: 90%;
  margin: 2%;
}
